@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

/* First Section------------------------------------------! */
/* Parent div of Section-1 */

.container1 {
    background-color: black;
    display: flex;
    border-radius: 20px;
    padding: 20px;
    padding-bottom: 0%;
    margin: 0 auto;
    justify-content: center;
    width: 80%;
    height: 646px;
    margin-top: 50px;
    margin-bottom: 100px;
    /* width:1321px; */
}

/* Child div-1 of Section-1 */
.header-div1 {
    /* background-color: aqua; */
    /* border: 2px solid red; */
    width: 50%;
    padding-left: 50px;
    padding-top: 30px;
}

.header-div1 h1 {
    font-size: 60px;
    color: white;
    /* line-height: 80px; */
}

.header-div1 p {
    font-size: 15px;
    color: white;
}

.btn-1 {
    width: 187px;
    height: 56px;
    background: #DD0000;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    color: white;
}

/* Child div-2 of Section-1 */

.header-div2 img {
    height: 100%;
    width: 100%;
}





/* Section-2------------------------------------- */

/* Child div-1 of section-2 */
.sec-div {
    width: 83%;
    /* background-color: aquamarine; */
    margin: 0 auto;
    display: flex;
    margin-bottom: 100px;
    /* border-radius: 25px 20px; */
}

.sec2-div1 {
    background-color: black;
    height: 280px;
    width: 312px;
    margin-right: 20px;
    background: #161616;
    border-radius: 10px;

    /* border-radius: 20px 0 0 20px; */
}

.list0 {
    position: absolute;
    list-style-type: none;
    padding-left: 28px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(1);
    row-gap: 20px;
    align-items: center;
    /* justify-content:center ; */
}

.list1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 187px;
    height: 56px;
    border-radius: 5px;
    /* text-align: center; */
    font-size: 20px;



}

.list1 a {
    text-decoration: none;
    color: black;


}

#list1 {
    font-size: 16px;
}

#list11 {
    background-color: red;
    color: white;
}
#list11 a {
    /* background-color: red; */
    color: white;
}


/* Child div-2 of section-2 */
.sec2-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

/* card */
.card {
    width: 250px;
    height: auto;
    border-radius: 10px;
    border: 2px solid lightgray;
    padding-bottom: 30px;
    background-color: aliceblue;
}

.card img {
    width: 100%;
}

.feedback-conatainer {
    padding: 0 20px;
    margin-top: 30px;
}

.btn-2 {
    width: 100px;
    height: 32px;
    border: 1px solid #161616;
    border-radius: 5px;
    font-size: 16px;

}

.feedback-section {
    display: flex;

    height: 20px;
    /* background-color: aquamarine; */
}

.feedback-section img {
    size: 100%;
    width: auto;
}

.feedback-section p {
    font-size: 15px;
    margin-top: 0px;
    margin-right: 20px;

}

.icons {
    display: flex;
    margin-right: 30px;
}

.icons img {
    margin-right: 10px;
}





/* Footer ----------------------------------!*/
/* Parent div of footer */
.footer {
    height: 444px;
    background-color: black;
}

/* Child Div-1 of Footer */
.footer-head {
    height: 200px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    margin: 0 auto;
    border-bottom: 1px solid #FFFFFF;
    margin-bottom: 60px;

}

.footer h1 {
    color: aliceblue;
    font-size: 40px;
}

/* Child Div-2 of Footer */
.footer-end {
    width: 60%;
    /* margin-top: 30px; */
    color: #B9B9B9;
    display: grid;
    grid-template-columns: repeat(6, auto);
    column-gap: 10px;
    margin: 0 auto;
    margin-bottom: 40px;
    /* border: 1px solid red; */
}

.footer-text {
    /* border: 1px solid red; */
    font-size: 16px;

}
.footer-social{
    display: flex;
    margin-top: 50px;
    /* background-color: #DD0000; */
    width: 200px;
    margin: 0 auto;
    justify-content: center;
}
.footer-social i{
    font-size: 25px;
    color: white;
    margin: 10px;
}
